html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 19px;
}

body {
    /*background: #CDDC39;*/
}

#app-container {
    position: relative;
    width: 80%;
    height: 150px;
    line-height: 135px;
    top: 35%;
    left: 5%;
    padding: 5%;
    border-radius: 5px;
    text-align: center;
}

#app-container span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#app-container.success {
    /*background: #607D8B;*/
    background: #eeeeee55;
    color: #333;
}
#app-container.success:hover {
    box-shadow: 0px 0px 5px #000000;
}

#app-container.error {
    background: #F44336;
    color: #E0E0E0;
    font-size: 18px;
    background: #E0E0E0;
    font-size: 18px;
}